<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
</head>


<link rel="stylesheet" th:href="@{layui/css/layui.css}" media="all"/>
<script th:src="@{layui/layui.js}" charset="utf-8"></script>
<script th:src="@{jquery/jquery-3.4.1.js}" charset="utf-8"></script>
<body>
<div style="height: 100%">
    <div th:include="main :: headmenu" style="height: 20%"></div>

    <div style="height: 80%">
        <iframe src='http://192.168.61.102:50401/analysis/dashboard/show/ac3b768ca178686123f4/' frameborder="0"
                id="barframe" style="width: 100%; height: 900px; border-radius: 2px;" allowfullscreen="true"></iframe>
    </div>
<div>
</body>
</html>